<p><%= t ".hello" %><%= @resource.email %>!</p>

<p><%= t ".message_to_user" %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".notice_to_user" %></p>
<p><%= t ".notice_to_user_continue" %></p>
