<div class="container header-page">
  <div class="col-md-3">
    <%= link_to image_tag("logo.png"), root_path %>
  </div>
  <div class="col-md-9">
    <div class="link_login text-right">
      <%= link_to "" %> /
      <%= link_to "" %>
    </div>
    <div class="header-search">
      <%= search_form_for @q do |f| %>
        <%= f.search_field :name_cont %>

        <%= f.submit t(".search") %>
      <% end %>
    </div>
  </div>
</div>
