<div class="container header-page">
  <div class="col-md-3">
    <%= link_to image_tag("logo.png"), root_path %>
  </div>
  <div class="col-md-9">
    <div class="link_login text-right" >
      <% if user_signed_in? %>
        <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t(".login"), new_user_session_path %> /
        <%= link_to t(".sign_up"), new_user_registration_path %>
      <% end %>
    </div>
    <div class="header-search">
      <%= search_form_for @q do |f| %>
        <%= f.search_field :name_cont %>

        <%= f.submit t(".search") %>
      <% end %>
    </div>
  </div>
</div>
